In [1]:
import os
import pandas as pd

In [2]:
base_url = '../../practical-jupyter/anime/'
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
df = pd.read_csv(anime_master_csv)

In [3]:
# 列ごとの平均値
df.mean()

anime_id    14055.982035
episodes       13.939156
rating          6.507956
members     18924.950769
dtype: float64

In [4]:
# Seriesの合計値
df['members'].sum()

190668879

In [5]:
df.count()

anime_id    10075
name        10075
genre       10075
type        10075
episodes    10075
rating      10075
members     10075
dtype: int64

In [6]:
df.max()

anime_id      34519
name              ◯
genre       Vampire
type             TV
episodes       1818
rating           10
members     1013917
dtype: object

In [8]:
# 基本統計量算出、少数第2位を四捨五入
df.describe().round(1)

       anime_id  episodes   rating    members
count   10075.0   10075.0  10075.0    10075.0
mean    14056.0      13.9      6.5    18925.0
std     11294.9      50.8      1.1    57117.5
min         1.0       1.0      1.7       12.0
25%      3431.0       1.0      5.9      177.0
50%     10526.0       1.0      6.6     1227.0
75%     24438.0      13.0      7.3    10254.0
max     34519.0    1818.0     10.0  1013917.0

In [9]:
# パーセンタイル値を変更
df.describe(percentiles=[0.1, 0.9]).round(1)

       anime_id  episodes   rating    members
count   10075.0   10075.0  10075.0    10075.0
mean    14056.0      13.9      6.5    18925.0
std     11294.9      50.8      1.1    57117.5
min         1.0       1.0      1.7       12.0
10%      1259.4       1.0      5.1       74.0
50%     10526.0       1.0      6.6     1227.0
90%     31190.0      37.0      7.8    47587.6
max     34519.0    1818.0     10.0  1013917.0

In [10]:
# 非数値型の列に対し、基本統計量を算出
# count : 欠損値を除いたデータ数
# unique : ユニークなデータ数
# top : データ数が最も多い値
# freq : topのデータ数
df[['genre', 'type']].describe()

         genre   type
count    10075  10075
unique    2735      6
top     Comedy     TV
freq       500   3330